<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
    <style>
        body {
            padding-top: 56px; /* Fixed navbar height */
        }

        footer {
            background-color: #f8f9fa;
            padding: 20px 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                Quản lý nhà hàng Pizza
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navAdmin"
                    aria-controls="navAdmin" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navAdmin">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Danh mục
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index","THANHPHANBANHs")">Quản lý thành phần bánh</a>
                            <a class="dropdown-item" href="@Url.Action("Index","VOBANHs")">Quản lý thành phần vỏ bánh</a>
                            <a class="dropdown-item" href="@Url.Action("Index","KichThuocBanhs")">Quản lý kích thước bánh</a>
                            <a class="dropdown-item" href="@Url.Action("Index","LoaiBanhs")">Quản lý loại bánh</a>
                            <a class="dropdown-item" href="@Url.Action("Index","MonAns")">Quản lý món ăn</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        @RenderBody()
    </div>

    <footer class="container mt-4">
        <div class="text-center">
            <p>ADMIN</p>
        </div>
    </footer>
</body>
</html>