@{
    ViewBag.Title = "NuocGiaiKhat";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<div class="container mt-3">
    <div class="row">
        @foreach (var nuocUong in ViewBag.DanhSachNuocUong)
        {
            <div class="col-md-4 mb-3">
                <form action="@Url.Action("ThemNuocUong", "GioHang")" method="post" class="mon-an-form">
                    @Html.Hidden("idNuocUong", (int)nuocUong.MaNuocUong)

                    <div class="card">
                        <img src="~/Images/NuocGiaiKhat/@nuocUong.HinhAnh" alt="@nuocUong.TenNuocUong" class="card-img-top" style="max-height: 200px; width: 100%; object-fit: contain;">
                        <div class="card-body text-center">
                            <h5 class="card-title">@nuocUong.TenNuocUong</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="card-text">
                                        <strong>Giá tiền:</strong>
                                    </p>
                                </div>
                                <div class="price">
                                    <span>@string.Format("{0:N0}", nuocUong.GiaTien)</span> VNĐ
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between p-1">
                            <div>
                                <button type="submit" class="btn btn-primary">Chọn</button>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control quantityInput" value="1" name="soLuong">
                                <button class="btn btn-outline-secondary minusBtn" type="button">-</button>
                                <button class="btn btn-outline-secondary plusBtn" type="button">+</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".plusBtn").click(function () {
            var quantityInput = $(this).siblings(".quantityInput");
            quantityInput.val(function (index, value) {
                return +value + 1;
            });
        });

        $(".minusBtn").click(function () {
            var quantityInput = $(this).siblings(".quantityInput");
            quantityInput.val(function (index, value) {
                return Math.max(+value - 1, 1);
            });
        });
    });
</script>