@using NhaHangPIzza.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}
<!-- Loại bánh -->
<!-- Loại bánh -->
<ul class="nav nav-tabs">
    @foreach (var loaiBanh in Model)
    {
        <li class="nav-item">
            <a class="nav-link" href="#@(loaiBanh.IDLoaiBanh)">@loaiBanh.TenLoaiBanh</a>
        </li>
    }
</ul>

<div class="container mt-3">
    @foreach (var loaiBanh in Model)
    {
        var danhSachMonAn = ViewBag.DanhSachMonAnTheoLoai[loaiBanh];
        <div id="@loaiBanh.IDLoaiBanh">
            <h3 class="text-center">@loaiBanh.TenLoaiBanh</h3>
            <div class="row">
                @foreach (var monAn in danhSachMonAn)
                {
                    <!-- Form Pizza 1 -->
                    <div class="col-md-4 d-flex flex-column align-items-center border p-1">
                        <div class="mb-2 mx-auto">
                            <img src="~/Images/BanhPizza/@monAn.HinhAnh" style="width:200px;" alt="Hình Pizza 1" class="img-fluid">
                        </div>
                        <div class="text-center mb-2">
                            <label for="pizzaName1" class="form-label">@monAn.TenMonAn</label>
                        </div>
                        <!-- Thành phần món ăn -->
                        <div class="mb-2">
                            <div class="border p-2 d-flex flex-wrap" id="pizzaName1">
                                @{
                                    var thanhPhanBanhList = ((HashSet<MonAn_ThanhPhanBanh>)monAn.MonAn_ThanhPhanBanh).Select(tpb => tpb.THANHPHANBANH).ToList();
                                    for (int i = 0; i < thanhPhanBanhList.Count; i++)
                                    {
                                        <div>@thanhPhanBanhList[i].TenThanhPhan</div>
                                        if (i < thanhPhanBanhList.Count - 1)
                                        {
                                            <div>,</div>
                                            <div>&nbsp;</div>
                                        }
                                    }
                                }
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-md-6 float-start">
                                <label for="crustType1" class="form-label">Loại vỏ bánh</label>
                                <!-- Use a dropdown list for KichThuocBanh -->
                                <select class="form-control" id="crustType1" name="crustType1">
                                    @foreach (var kichThuocBanh in ViewBag.DanhSachKichThuoc)
                                    {
                                        <option value="@kichThuocBanh.IDKichThuocBanh">@kichThuocBanh.KichThuoc</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6 float-end">
                                <label for="size1" class="form-label">Kích thước</label>
                                <!-- Use a dropdown list for VoBanh -->
                                <select class="form-control" id="size1" name="size1">
                                    @foreach (var voBanh in ViewBag.DanhSachVoBanh)
                                    {
                                        <option value="@voBanh.IdVoBanh">@voBanh.DoDay</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label class="form-label justify-content-start" style="white-space: nowrap;">Giá tiền:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex justify-content-end">
                                    <div class="input-group ">
                                        <input type="text" class="form-control" id="price1" value="@monAn.TinhTongGiaTienFormatted()" readonly>
                                        <div class="input-group-append">
                                            <span class="input-group-text">VNĐ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary justify-content-start">Chọn</button>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex justify-content-end">
                                    <div class="input-group">
                                        <input type="text" class="form-control " id="quantity1" value="10">
                                        <button class="btn btn-outline-secondary" type="button" id="minusBtn">-</button>
                                        <button class="btn btn-outline-secondary" type="button" id="plusBtn">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $("#plusBtn").click(function () {
            $("#quantity1").val(function (i, val) {
                return parseInt(val) + 1;
            });
        });

        $("#minusBtn").click(function () {
            $("#quantity1").val(function (i, val) {
                return parseInt(val) - 1 > 0 ? parseInt(val) - 1 : 1;
            });
        });
    });
</script>