@model List<NhaHangPIzza.Models.MonAn_ThanhPhanBanh>
@{
    ViewBag.Title = "ChonThanhPhanBanh";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<h2>Xem Thành Phần Bánh cho: @ViewBag.TenMonAn MaMonAn: @ViewBag.MaMonAn</h2>
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>Thành Phần</th>
            <th>Giá Tiền</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.THANHPHANBANH != null)
                    {
                        @item.THANHPHANBANH.TenThanhPhan
                    }
                </td>
                <td>
                    @if (item.THANHPHANBANH != null && item.THANHPHANBANH.Giatien != null)
                    {
                        @item.THANHPHANBANH.Giatien.ToString("C")
                    }
                </td>
                <td>
                    @using (Html.BeginForm("DeleteThanhPhan", "MonAn_ThanhPhanBanh", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("maMonAn", item.MaMonAn)
                        @Html.Hidden("idThanhPhan", item.IdThanhPhan)
                        <button type="submit">Xoá</button>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Bánh này chưa có thành phần nào.</p>
}

<div>
    <a href="@Url.Action("Index", "BanhPizza")">Quay lại</a>
    <a href="@Url.Action("Create", "MonAn_ThanhPhanBanh", new { MaMonAn = ViewBag.MaMonAn, TenMonAn = ViewBag.TenMonAn })">Thêm Thành Phần</a>
</div>