@model NhaHangPIzza.Models.MonAn_ThanhPhanBanh

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<h2>Create for Mã và Tên Món Ăn</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Mã Món Ăn: @ViewBag.MaMonAn</h4>
        <h4>Tên Món Ăn: @ViewBag.TenMonAn</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.MaMonAn)

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedThanhPhans, "Chọn Thành Phần", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var thanhPhan in ViewBag.ThanhPhanList)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="SelectedThanhPhans" value="@thanhPhan.Value">
                            @thanhPhan.Text
                        </label>
                    </div>
                }
                @Html.ValidationMessageFor(model => model.SelectedThanhPhans, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>