@model NhaHangPIzza.Models.MonAn_ThanhPhanBanh

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MonAn_ThanhPhanBanh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonAn.TenMonAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonAn.TenMonAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THANHPHANBANH.TenThanhPhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THANHPHANBANH.TenThanhPhan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
