@model List<NhaHangPIzza.Models.GioHangNuocUong>
@using NhaHangPIzza.Models

@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<div class="container mt-3">
    <h2>Giỏ Hàng Món Ăn</h2>
    <table class="table">
        <thead>
            <tr>
            <tr>
                <th>Hình Ảnh</th>
                <th>Tên Món Ăn</th>
                <th>Loại Bánh</th>
                <th>Loại Vỏ Bánh</th>
                <th>Kích Thước</th>
                <th>Đơn Giá</th>
                <th>Số Lượng</th>
                <th>Thành Tiền</th>
                <th>Xoá</th>
            </tr>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.GioHangMonAn as List<GioHang>)
            {
                <tr>
                    <td><img src="~/Images/BanhPizza/@item.sHinhAnh" style="width:50px;" alt="@item.sTenMonAn"></td>
                    <td>@item.sTenMonAn</td>
                    <td>@item.sLoaiBanh</td>
                    <td>@item.sDoDay</td>
                    <td>@item.sKichThuoc</td>
                    <td>@string.Format("{0:N0}", item.dGiaTien)</td>
                    <td>@item.iSoLuong</td>
                    <td>@string.Format("{0:N0}", item.dThanhTien)</td>
                    <td>
                        @Html.ActionLink("Xoá", "XoaMonAn", new { idMonAn = item.iMaMonAn, iIDKichThuocBanh = item.iIDKichThuocBanh, idVoBanh = item.iIdVoBanh })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Giỏ Hàng Nước Uống</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Hình ảnh</th>
                <th>Tên Nước Uống</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.GioHangNuocUong as List<GioHangNuocUong>)
            {
                <tr>
                    <td><img src="~/Images/NuocGiaiKhat/@item.sHinhAnh" style="width:50px;" alt="@item.sTenNuocUong"></td>
                    <td>@item.sTenNuocUong</td>
                    <td>@string.Format("{0:N0}", item.dGiaTien)</td>
                    <td>@item.iSoLuong</td>
                    <td>@string.Format("{0:N0}", item.dThanhTien)</td>
                    <td>
                        <a href="@Url.Action("XoaNuocUong", "GioHang", new { idNuocUong = item.iMaNuocUong })">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>