@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<style>
    .card-img-top {
        object-fit: cover; /* Ensure the image covers the entire container */
        height: 300px; /* Set a fixed height for consistent appearance */
    }
</style>

<div class="container mt-3">
    <div class="row">
        @foreach (var combo in ViewBag.DanhSachComBo)
        {
            <div class="col-md-4 mb-3">
                <form action="@Url.Action("ThemCombo", "GioHang")" method="post" class="mon-an-form">
                    @Html.Hidden("idCombo", (int)combo.MaCombo)
                    <div class="card">
                        <img src="~/Images/ComBo/@combo.HinhAnh" alt="@combo.TenCombo" class="card-img-top">
                        <div class="card-body text-center">
                            <h5 class="card-title">@combo.TenCombo</h5>
                            <p class="card-text">
                                <strong>Giá tiền:</strong>
                                <span class="price">@string.Format("{0:N0}", combo.GiaTien)</span> VNĐ
                            </p>
                        </div>
                        <div class="d-flex justify-content-between p-3">
                            <div>
                                <button type="submit" class="btn btn-primary">Chọn</button>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control quantityInput" value="1" name="soLuong">
                                <button class="btn btn-outline-secondary minusBtn" type="button">-</button>
                                <button class="btn btn-outline-secondary plusBtn" type="button">+</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".plusBtn").click(function () {
            var quantityInput = $(this).siblings(".quantityInput");
            quantityInput.val(function (index, value) {
                return +value + 1;
            });
        });

        $(".minusBtn").click(function () {
            var quantityInput = $(this).siblings(".quantityInput");
            quantityInput.val(function (index, value) {
                return Math.max(+value - 1, 1);
            });
        });
    });
</script>